/*GENERAL

*Fonts: work sans (paragraph) and josefin slab (headings)

*Colours:
	-Crimson: #c76766
	-Indigo: #30415d
	-Ultramarine: #031424
	-Light BLue: #8eaebd
	-Fresh: #ccdfcb
*/ 

.mySlides img
	{
		height:500px;
		width:auto;
	}
    .aboutus img
    {
        width:200px;
        height:200px;
        padding:20px;
        border-radius: 100%;
        z-index:1;
    }
    .aboutus img:hover{
        padding:10px;
    }
    .about1
    {
        margin-left:19%;
        margin-right:17%;
        margin-bottom:20px;
        padding:30px;
        text-align:justify;
        background: #8eaebd;
        border-radius:20px;
        color:white;
    }

*
{
	margin:0px;
	padding:0px;
	font-family: 'Work Sans', sans-serif;
}
p
{
	font-family: 'Work Sans', sans-serif;
	color:#031424
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Josefin Slab', serif;
}
h4
{
	color:#8eaebd;
}

/*HEADING */
.title
{
	font-family: 'Josefin Slab', serif;
	text-align:center;
	color:#ccdfcb;
	font-size:0.8em;
	top:0;
	margin:auto;
	padding:20px 0px;
	
	
}
.main
{
	margin-top:30px;
}
/*TOP MENU BAR: Contains links to homepage, page#1, page#2, page#3 */

#Menu
{
	text-align: center;
	width:600px;
	list-style-type: none;
    margin: auto;
    padding-left: 15px;
    overflow: hidden;
    /*to avoid the absolute position being a problem add opacity as 0.99*/
    opacity:0.99;
    background-color:#ffffff;
}
#Menu li a {
    color: #cf6766;
    text-align: center;
    font-weight:bold;
    text-decoration: none;
	margin:auto;
	width:120px;
	padding:10px;
	line-height: 30px;
	font-size:1.5em;
	font-family: 'Josefin Slab', serif;
}

#Menu a:hover 
{ 
text-decoration:underline;
}

#Menu li 
{
float: left;
width:120px;
height:40px;
margin: 1px 4px;
} 
/*HEADING*/
header
{
	font-size:4em;
	margin-left:10%;
	color:#30415d;
}
/*ABOUT*/
.about
{
	margin:0 10% 20px;
	color:#031424;
	text-align:justify;
	padding:20px;
	background:#ccdfcb;
	border-radius:20px;
}

/*SLIDE SHOW: shows slide shows of cool things*/
*
{box-sizing:border-box}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto ;
  margin-left:0;
  margin-top:30px;
  z-index:-1;
}
.mySlides {
    display: block;
}


/*Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/*Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color:#031424;
  background-color:#8eaebd;
  opacity:0.7;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}


/*The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*Fading animation */
.fade {
  animation: xfade 16s 0s infinite;
}
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*FOOTER AND NAVIGATION BAR*/
footer
{
	width:100%;
	margin-bottom:10px;
	padding-bottom:15px;
	text-align:center;
	background-color:#c76766;
	overflow:hidden;
	/*height:20px;*/
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #031424;
    height:10px;
}
.fa:hover {
    opacity: 0.7;
}

